._flex-centering {
    display: flex;
    justify-content: space-around;
}
.work-area {
    width: 960px;
    display: block;
}

main {
    display: block;
    /*margin-top: 16px;*/
    /*margin-bottom: 16px;*/
    margin: 16px 200px;
}
