.pr-form {
    border: 1px solid black;
    /*margin: 60px 0;*/
    padding: 16px;
}

.pr-form div {
    /*display: block;*/
}

label, input {
    user-select: none;
}

.text-field input {
    width: 100%;
}

#email {
    display: none;
}

#about {
    width: 100%;
    resize: none;
}